/* jobList.css */
.job-card {
  border-radius: 12px;
  min-height: 180px;
}

.job-logo-small {
  /* Tăng kích thước logo  */
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #f8f9fa;
  padding: 4px;
}

.job-icon {
  cursor: pointer;
  font-size: 20px;
}

.job-card .card-body {
  padding: 0.4rem;
}

.job-card .card-title {
  /* Giữ kích thước tiêu đề */
  font-size: 1.15rem;
  /* Khoảng cách dưới nhỏ hơn */
  margin-bottom: 0.2rem !important;
}

.job-card .card-subtitle {
  font-size: 0.9rem;
}

/*  mô tả ngắn */
.description-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}